body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    display: grid;
    grid-template-columns: 250px 3fr 1fr;
    grid-template-areas: 
    "he1 he2 he3"
    "as ar ar"
    "as ar ar"
    "fo fo fo";
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header {
    grid-area: he2;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

aside {
    grid-area: as;
    background-color: #ffd900;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    height: auto;
}

article {
    grid-area: ar;
    padding: 20px;
    border-style: solid;
    border-color: black;
    background-color: #ffd900;
    margin-left: 10px;
    margin-right: 10px;
}

.animal-a article .div-grid{
    display: grid;
    grid-template-areas: 
    "di di2 di3"
    "di4 di5 di6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.div-item1 {
    grid-area: di;
}

.div-item2 {
    grid-area: di2;
}

.div-item3 {
    grid-area: di3;
}

.div-item4 {
    grid-area: di4;
}

.div-item5 {
    grid-area: di5;
}

.div-item6 {
    grid-area: di6;
}

.div-item {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 10px;
    padding: 10px;
    background-color: #ffe553;
}


.img-div {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-align {
    text-align: center;
}

footer {
    grid-area: fo;
    background-color: black;
    margin-top: 10px;
    bottom: 0px;
    color: white;
    padding: 10px;
}

.underline {
    text-decoration: underline;
}

.rubrik {
    font-size: 36px;
    margin-left: 45px;
}

#AU {
    grid-area: he2;
    font-size: 75px;
}

.container {
    grid-area: he1, as;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

#logo {
    width: 240px;
    height: 235px;
}

.article-text {
    font-size: 20px;
}

.img {
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#corgi {
    width: 40%;
    margin: 20px;
    margin-top: 0px;
    float: right;
}

.navbar {
    width: 1fr;
    background-color: #ffd900;
    position: fixed;
    top: 0px;
    left: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    width: 235px;
    height: auto;
    padding-top: 220px;
    transition: left 0.8s cubic-bezier(1, 0, 0, 1)
}

.change {
    left: 0px;
}

.nav-list {
    text-align: right;
    /* margin top? */
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

  
#main-menu{
    visibility: hidden;
    margin-top: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 2px;
    width: 90px;
    
}

#main-menu.active {
    visibility: visible;
}

@media screen and (max-width: 650px) {
    body {
        grid-template-areas:
        "he1 he2"
        "as as"
        "ar ar"
        "fo fo";
        grid-template-columns: 150px auto;
    }

    aside {
        margin-bottom: 20px;
    }

    #logo {
        width: 150px;
        height: 150px;
    }

    #AU {
        font-size: 40px;
        grid-column: 1 / 2;
        
    }

    .navbar {
        width: 145px;
        font-size: 12px;
        padding-top: 120px;
    }

    .animal-a article .div-grid {
        grid-template-areas: 
        "di di2"
        "di3 di4"
        "di5 di6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}