body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "he1 he2 he3"
    "as ar ar"
    "as ar ar"
    "fo fo fo";
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header {
    grid-area: he2;
    text-align: center;
}

aside {
    grid-area: as;
    background-color: #ffd900;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

article {
    grid-area: ar;
    border-style: solid;
    border-color: black;
    background-color: #ffd900;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    grid-area: fo;
    background-color: black;
    position: absolute;
    margin-top: 10px;
    bottom: 0px;
    color: white;
    padding: 10px;
    width: 100%;
    
}

.underline {
    text-decoration: underline;
}

.rubrik {
    font-size: 36px;
    margin-left: 45px;
}

#AU {
    grid-area: he2;
    font-size: 75px;
}

.container {
    grid-area: he1, as;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

.navbar {
    width: 1fr;
    /* height: ; */
    background-color: #ffd900;
    position: fixed;
    top: 0px;
    left: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;

    transition: left 0.8s cubic-bezier(1, 0, 0, 1)
}

.change {
    left: 0px;
}

.navlist {
    text-align: right;
    /* margin top? */
}

.nav-item {
    list-style: none;
    margin: 25px;
}